@media screen and (max-width:768px) {

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .circle-travel {
    width: 140px;
    height: 2px;
    margin-bottom: 2rem;
  }

  .circle-travel::before {
    top: -3.8px;
  }


  @keyframes traslate {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(130px);
    }
  }

  .l-full-content {
    margin-bottom: 3rem;
  }

  .l-content {
    margin-bottom: 3rem;
  }

  .frontend-developer {
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 2;
  }

  .header-container {
    display: none;
  }

  .hero__container {
    min-height: 100vh;
    background-image: none;
    background-image: url(../assets/blog/hero.jpg);
    background-color: rgba(0, 0, 0, .85);
    background-attachment: initial;

  }

  .hero__title {
    font-weight: 500;
  }

  .hero__text {
    font-size: 1rem;
  }

  /* ===== ABOUT ===== */
  .about-container {
    width: 80%;
  }

  .about__name {
    font-size: 1.5rem;
  }

  .about__list {
    column-count: 1;
    margin-bottom: 1rem;
  }

  .about__bold-list {
    font-size: .87rem;
  }

  .about__contact {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  /* ===== ABOUT ===== */


  /* ===== SKILLS ===== */
  .skills__tecnology {
    width: 95%;
    gap: 1.5rem;
  }

  .skills__box {
    width: 40%;
  }

  .skills__icons {
    width: 80px;
    height: 80px;
  }
  .skills__icon-name {
    font-size: 1rem;
    font-weight: 600;
  }
  .skills__name {
    font-size: .8rem;
    font-weight: 600;
  }

  /* ===== SKILLS ===== */


  /* ===== SERVICES ===== */
  .services-all {
    width: 100%;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .services__box {
    padding: 0  1.5rem  1.5rem 1.5rem;
    width: 80%;
    border: 2px solid var(--orange-color);
    transition: all 0.5s;
  }

  .services__box:hover {
    transform: scale(1.03);
  }

  .services__img {
    width: 45px;
    height: 45px;
  }

  .services__description {
    font-size: .85rem;
    font-weight: 600;
  }

  .services__description::after {
    margin: 4px auto;
    width: 80px;
  }
  .services__text {
    font-size: 12px;
  }

  .services__down {
    width: 90%;
    font-size: 14px;
    line-height: 1.4;
  }

  /* ===== SERVICES ===== */


  /* ===== PROJECT ===== */
  .card {
    flex-wrap: wrap;
    gap: 20px;
  }

  .card__box {
    width: 90%;
  }

  .card__container {
    width: 100%;
    height: 200px;
  }

  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s ease;
  }


  .card__container:hover .card__overlay {
    opacity: 1;
    transform: scale(1);
  }

  .card__container:hover .card__img {
    transform: scale(1.2);
    opacity: 1;
  }

  .card__titile-overlay {
    color: var(--white-color);
  }

  .card__description {
    border-bottom: 1px solid var(--orange-color);
  }

  .card__date {
    font-weight: 600;
    font-size: .8rem;
    margin: 0;
    padding: 5px 0;
  }

  /* ===== PROJECT ===== */

  /* ===== BLOG ===== */
  .blog {
    background-image: none;
    background-color: var(--base-color);
    padding: 3rem 0 2rem 0;
  }

  .blog-cards {
    width: 90%;
    flex-wrap: wrap;
    gap: 1.8rem;
  }

  .blog__card {
    width: 100%;
  }

  .blog__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .blog__footer {
    padding: 1.5rem .8rem;
  }

  .blog__name-article {
    font-size: .88rem;
    font-weight: 400;
  }

  .cta {
    font-size: .6rem;
    padding: .3rem .8rem;
  }

  .blog__absolute {
    top: 2%;
    font-size: .6rem;
    padding: .3rem 1.5rem;
  }

  /* ===== BLOG ===== */


  /* ===== TESTIMONIALS ===== */
  .slider__img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    object-position: top center;
  }

  .slider__text {
    width: 90%;
  }

  .slides__quote {
    font-size: 6rem;
  }

  .slider__title-person {
    font-size: 1rem;
  }

  .slider__description-person {
    font-weight: 500;
    font-size: .8rem;
  }

  .slider__paragraph {
    font-size: .86rem;
    line-height: 1.5;
  }

  /* ===== TESTIMONIALS ===== */

  /* ===== CONTACT ===== */
  /* contact */
  .contact {
    padding: 5rem 0;
    background-color: var(--base-color);
    margin-bottom: 0;
  }

  .contact__body {
    flex-wrap: wrap;
    background: none;
    gap: 0;
  }

  .contact__icons {
    width: 80%;
    margin-bottom: 1.5rem;
    padding: 10px 0;
  }

  .icons-contact {
    font-size: 1.5rem;
  }

  /* ===== CONTACT ===== */


  /* ===== FOOTER ===== */
  .footer {
    background-color: rgba(0, 0, 0, .95);
    background-color: var(--orange-color);
    padding: 1.3rem 0;
  }
  /* ===== FOOTER ===== */
}